server:
  port: 8080

spring:
  application:
    name: order-service
  main:
    allow-circular-references: true
  
  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 5000
      idle-timeout: 300000
  
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

logging:
  level:
    FRAMEWORK_HTTP: INFO
    FRAMEWORK_TRACE: DEBUG
    FRAMEWORK_BIZ: INFO
    FRAMEWORK_EXCEPTION: ERROR
