server:
  port: 8080

spring:
  application:
    name: order-service
  
  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

logging:
  level:
    FRAMEWORK_HTTP: INFO
    FRAMEWORK_TRACE: DEBUG
    FRAMEWORK_BIZ: INFO
    FRAMEWORK_EXCEPTION: ERROR
