server:
  port: 8080

spring:
  application:
    name: order-service
  main:
    allow-circular-references: true
  
  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 40
      minimum-idle: 10
      connection-timeout: 5000
      idle-timeout: 300000
  
  h2:
    console:
      enabled: false
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

logging:
  level:
    root: WARN
    com.example.order: WARN
    com.example.order.handler.BenchmarkHandler: INFO
    FRAMEWORK_HTTP: WARN
    FRAMEWORK_TRACE: WARN
    FRAMEWORK_BIZ: WARN
    FRAMEWORK_EXCEPTION: ERROR
